@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 기본/pc버전/960이상*/
body{
  font-family: 'Gothic A1', sans-serif;
}

h2{
  font-weight:bolder;
  font-size:xx-large;
  text-align:center;
}
h3{
  font-size:x-large;
}
h4{
  font-size:large;
}
.main_tit{
  padding-bottom:10px;
}
.wrap>section{
  padding:50px 0;
}
.content{
  width:93.75%;
  max-width:1400px;
  margin:0 auto;
}
.color_black{
  color:#000000;
}
.color_white{
  color:#ffffff;
}
/* 스킵메뉴 */
.skip_menu{
  position: absolute;
  left:0;
  top:-43px;  
  padding:10px;
  text-align:center;
  background-color:#000000;
}
.skip_menu>a{
  font-size:18px;
  color:#ffffff;
}

/* 헤더 */
.header{
  position: relative;
  background-color:#000000;
}
.header::before{
  content:'';
  display:block;
  width:100%;
  height:15vw;
  background-image:url('../images/top_bannner.jpg');
  background-size:cover;
  display:none;
}

.logo{
  position:absolute;
  left:42%;
  top:47%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
h1 #tgl_nav_btn{
  display:flex;
  flex-flow:column nowrap;
  justify-content:space-between;
  width:26px;
  height:20px;
  cursor: pointer;
  display:none;
}
h1 #tgl_nav_btn li{
  height:2px;
  background-color:#ffffff;
  transition:0.3s;
  transform-origin:top left;
}
h1 #tgl_nav_btn.active li:nth-child(1){
  transform:rotate(44deg);
}
h1 #tgl_nav_btn.active li:nth-child(2){
  background-color:transparent;
}
h1 #tgl_nav_btn.active li:nth-child(3){
  transform:rotate(-44deg);
}

.header a{
  color:rgba(255,255,255,0.5);
}
.nav{
  display:flex;
  flex-flow:column nowrap;
}

.header .article>.content,.header .article>.content>ul{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.small_nav{
  border-bottom:1px solid rgba(255,255,255,0.2);
  order:1;
}
.small_nav .content{
  height:34px;
}
.small_nav ul:first-child li{
  padding-right:20px;
}
.small_nav ul:last-child li{
  padding-left:20px;
}
.small_nav a{
  font-size:x-small;
  transition:0.1s;
}
.small_nav a:hover{
  color:rgba(255,255,255,1);
}
.search{  
  position:relative;
  cursor: pointer;
}
.search::before{
  content:'';
  display:block;
  width:12px;
  height:12px;
  border:2px solid rgba(255,255,255,0.5);
  border-radius:50%;  
}
.search::after{
  content:'';
  display:block;
  width:8px;
  height:2px;
  background-color:rgba(255,255,255,0.5);
  transform:rotate(45deg);
  position: absolute;
  right:-4px;
  bottom:0px;
}

.large_nav{
  order:2;
}
.large_nav .content{
  height:56px;
}
.large_nav>.content>ul:first-child>li{
  padding:17px 30px;
  height:56px;
}
.large_nav>.content>ul:first-child>li.active{
  background-color:#ffffff;
}
.large_nav>.content>ul:first-child>li.active a{
  color:#000000;
}
.large_nav>.content>ul:last-child>li{
  padding-left:30px;
}
.large_nav a{
  font-size:large;
}
.large_nav>.content>ul:first-child a{
  font-weight:bold;
  color:#ffffff;
}
.sub_nav{
  display:flex;
  flex-flow:row wrap;
  background-color:#ffffff;;
  height:auto !important;
  padding:20px 60px;
}
.sub_nav.active{
  display:flex;
}
.sub_nav>li{
  width:25%;
  padding: 10px 0;  
}
.sub_nav>li>a{
  color:#333333 !important;
  font-size:medium;
}
.sub_nav>li>a:hover{
  color:#d70f26 !important;
  text-decoration:underline;
}
.car_list,.sub_nav{
  position:absolute;
  left:50%;
  top:100%;
  z-index:50;
  background-color:#ffffff;
  height:auto !important;
  transform:translateX(-50%);
  display:none;
}
.car_list.active{
  display:block;
}
.car_list>li{
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}
.car_list>li:first-child{
  border-bottom:1px solid #dddddd;
}
.car_list>li:first-child>p{
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  height:80px;
  margin-right:30px;
}

.car_list>li:first-child>p::before{
  content:'';
  display:inline-block;
  width:18px;
  height:18px;
  margin-right:10px;
  background-image:url('../images/radio.webp');
}
.car_list>li:first-child>p.active::before{
  background-position-x:-18px
}
.car_list>li:first-child>p.active>label{
  font-weight:bold;
  color:#d70f26;
}
.car_list>li:first-child>p>label::before{
  content:'';
  display:inline-block;
  width:48px;
  height:23px;
  margin-right:6px;
  background-image:url('../images/radio_car.webp');
}
.car_list>li:first-child>p.active>label::before{
  background-position-x:-48px
}
.car_list>li:first-child>p:nth-child(1)>label::before{
  background-position-y:0px;
}
.car_list>li:first-child>p:nth-child(2)>label::before{
  background-position-y:-25px;
}
.car_list>li:first-child>p:nth-child(3)>label::before{
  background-position-y:-48px;
}
.car_list>li:first-child>p:nth-child(4)>label::before{
  background-position-y:-71px;
}
.car_list>li:first-child>p:nth-child(5)>label::before{
  background-position-y:-95px;
}
.car_list>li:first-child>p>input{
  display:none;
}
.car_list>li:last-child{
  padding: 20px 0;
  justify-content:space-between;
}
.car_list>li:last-child>p{
  width:18%;
  padding-bottom:20px;
  text-align:center;
}
.car_list>li:last-child>p>img{
  width:100%;
  transition:0.3s;
}
.car_list>li:last-child>p:hover>img{
  transform:scale(1.1);
}
@keyframes car_rotate{
  0%{transform:rotateY(0deg);}
  50%{transform:rotateY(180deg);}
  100%{transform:rotateY(360deg);}
}
.car_list.active>li:last-child>p{
  animation-name:car_rotate;
  animation-duration:0.3s;
}

.car_list>li:last-child>p>span{
  font-weight:bold;
  font-size:medium;
}
.car_list>li:last-child>p:hover>span{
  color:#d70f26;
  text-decoration:underline;
}

.main_banner{
  position: relative;
  padding-top:0 !important;
}
.main_box{
  position:relative;
}
.main_slider_img{
  display:flex;
  justify-content: center;
  align-items: center;
}
.main_slider_txt{
  position: absolute;
  left:0;
  top:0;
  display:flex;
  flex-flow:column nowrap;
  justify-content:space-evenly;
  align-items:center;
  width:100%;
  padding-top:20px;
}
.main_slider_txt>h2{
  margin:20px 0;
  text-align:center;
  text-shadow:1px 1px 2px rgba(255,255,255,0.3);
}
.main_slider_txt>h2.color_white{
  text-shadow:1px 1px 2px rgba(0,0,0,0.3);
}
.main_slider_txt>a{
  border:1px solid #000000;
  padding:10px 30px 6px;
  font-size:large;
}
.main_slider_txt>a:hover{
  color:#ffffff;
  background-color:#000000;
}
.main_slider_txt>a.color_white{
  border-color:#ffffff;
}
.main_slider_txt>a.color_white:hover{
  color:#000000;
  background-color:#ffffff;
}
.main_slider_img>img{
  width:100%;
}
.swiper-button-prev, .swiper-button-next{
  color:#ffffff;
}
.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:120px;
}
.swiper-pagination-bullet{
  width:12px;
  height:12px;
  background-color:#ffffff;
  opacity: 0.5;
  margin:0 12px !important;
  border-radius:6px;
  transition:0.3s;
}
.swiper-pagination-bullet-active{
  opacity: 1;
  width:50px;
}
.start_stop_btn{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  z-index:50;
}
.start_stop_btn>button{
  position: relative;
  width:100px;
  height:100px;
  border-radius:50%;
  background-color:rgba(0,0,0,0.3);
  cursor: pointer;
  text-indent:-99999px;
  display:none;
}
.start_stop_btn>button#start_btn::before{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-15%,-50%);
  content:'';
  width:0px;
  height:0px;
  border:24px solid transparent;
  border-left-color:#ffffff;
}
.start_stop_btn>button#stop_btn{
  display:block;
}
.start_stop_btn>button#stop_btn::before,
.start_stop_btn>button#stop_btn::after{
  position: absolute;
  left:58%;
  top:50%;
  transform:translate(-15%,-50%);
  content:'';
  width:4px;
  height:36px;
  background-color:#ffffff;
}
.start_stop_btn>button#stop_btn::before{
  left:36%;
}
.main_banner .start_stop_btn{
  display:none;
}
.main_banner:hover .start_stop_btn{
  display:block;
}
.quick_nav_box{
  position:absolute;
  left:50%;
  bottom:0;
  z-index:50;
  transform:translate(-50%,50%);
  background-color:#ffffff;
}
.quick_nav{
  display:flex;
  flex-flow:row nowrap;
  box-shadow:0 0 10px 10px rgba(0,0,0,0.1);
}
.quick_nav>li{
  width:180px;
  height:180px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  border-right:1px solid rgba(0,0,0,0.2);
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  align-items:center;
  transition:0.3s;
}
.quick_nav>li::before{
  content:'';
  width:50px;
  height:50px;
  display:block;
  background-image:url('../images/iconset01.webp');
}
.quick_nav>li>p{
  font-size:large;
}
.quick_nav>li.quick_list01{
  border-left:1px solid rgba(0,0,0,0.2);
}
.quick_nav>li.quick_list01::before{
  background-position-x:0px;
}
.quick_nav>li.quick_list02::before{
  background-position-x:-50px;
}
.quick_nav>li.quick_list03::before{
  background-position-x:-100px;
}
.quick_nav>li.quick_list04::before{
  background-position-x:-150px;
}
.quick_nav>li.quick_list05::before{
  background-position-x:-200px;
}
.quick_nav>li:hover{
  background-color:#d70f26;
}
.quick_nav>li:hover::before{
  background-position-y:-50px;
}
.quick_nav>li:hover>p{
  color:#ffffff;
}

.best_kia{
  margin-top:150px;
}
.best_kia>.best_kia_slider{
  padding-bottom:40px;
}
h2>span{
  font-size:xx-large;
  color:#d70f26;
  font-weight:bold;
}
.best_kia_slider_img>img{
  width:110%;
}
.best_kia_slider_txt>h3{
  font-weight:500;
  font-size:x-large;
  text-align:center;
}
.best_kia_slider_txt>p{
  text-align:center;
}
.best_kia_slider_txt>p>span{
  letter-spacing:-1px;
}
.best_kia_slider_txt>p>span:nth-child(1){
  color:#d70f26;
}
.best_kia_slider_txt>p>span:nth-child(2n+1){
  padding:0 2px;
}
.best_kia_slider_txt>p>span:nth-child(2n){
  display:inline-block;
  text-indent:-99999px;
  width:1px;
  background-color:rgba(0,0,0,0.2);
}
.best_kia .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom:0;
}
.best_kia .swiper-pagination-bullet{
  background-color:#999999;
}
.best_kia .swiper-pagination-bullet-active{
  background-color:#d70f26;
}
.best_kia .swiper-button-prev, .best_kia .swiper-button-next{
  color:#999999;
}
.best_kia .swiper-button-prev{
  left:10%;
}
.best_kia .swiper-button-next{
  right:10%;
}
.best_kia .swiper-slide img{
  opacity:0.5;
  transition:0.5s;
}
.best_kia .swiper-slide-active img{
  opacity:1;
  transform:scale(1.2);
}
.best_kia .swiper-slide-prev img,
.best_kia .swiper-slide-next img{
  opacity:1;
}
.best_kia .swiper-slide-prev img:hover,
.best_kia .swiper-slide-next img:hover{
  transform:scale(1.05);
}
.wrap>.event_channel{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  padding-left:7%;
  padding-right:3%;
}
.event_channel>.event_kia{
  width:50%;
}
.event_channel>.channel_kia{
  width:40%;
  margin-top:100px;
}
.event_kia>h2,
.channel_kia>h2{
  text-align:left;
}
.event_channel h3{
  padding:20px 0;
}
.event_channel img{
  width:100%;
}
.event_kia_slider_txt>p>span:nth-child(1){
  font-weight:bold;
}
.channel_kia_slider_txt>h3{
  display:flex;
  flex-flow:row nowrap;
  justify-content:left;
  align-items:center;
}
.channel_kia_slider_txt>h3>span{
  display:inline-block;
  width:120px;
  margin-right:12px;
  border:1px solid #000000;
  padding:14px 0;
  text-align:center;
}
.event_channel .swiper-pagination-fraction, 
.event_channel .swiper-pagination-custom, 
.event_channel .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom:140px;
}
.event_channel .swiper-pagination-bullet {
  width:8px;
  height:8px;
  margin:0 6px !important;
  border-radius:4px;
}
.event_channel .swiper-pagination-bullet-active {
  background-color: #d70f26;
  width:30px;
}
.you_tube{
  display:flex;
  flex-flow:row wrap;
  justify-content:flex-end;
  position:relative;
}
.you_tube>h2{
  width:100%;
  text-align:left;
}
.you_tube>.you_tube_link{
  position: absolute;
  left:0;
  top:90px;
  z-index:10;
  width:72.6%;
  height:40.7vw;
}
.you_tube>.you_tube_link>iframe{
  width:100%;
  height:100%;
}
.you_tube>.you_tube_txt{
  width:100%;
  height:40vw;
  margin-top:50px;
  padding:5% 0 5% 76%;
  background-color:#eeeeee;
}
.you_tube>.you_tube_txt>h3{
  margin-bottom:20px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  padding-bottom:20px;
}
.you_tube>.you_tube_txt>p>span{
  font-weight:bold;
}
.news_notice{
  display:flex;
  flex-flow:row wrap;
}
.news_notice>.kia_news{
  width:60%;
  padding:0 20px
}
.kia_news_slider img{
  width:100%;
}
.kia_news_slider .swiper-pagination{
  top:0;
  bottom:auto;
  padding:20px;
  text-align:right;
}
.kia_news_slider .swiper-pagination .swiper-pagination-bullet{
  background-color:#999999;
  margin:0 4px !important;
}
.kia_news_slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color:#d70f26;
}
.kia_news_slider .swiper-button-prev,
.kia_news_slider .swiper-button-next{
  display:none;
}
.kia_news_slider:hover .swiper-button-prev,
.kia_news_slider:hover .swiper-button-next{
  display:block;
}
.kia_news_slider p{
  padding:20px 0 8px
}
.kia_news_slider a{
  font-size:large;
}
.kia_news_slider .swiper-slide-duplicate-prev .kia_news_slider_txt{
  visibility:hidden;
}

.news_notice>.notice{
  width:40%;
  padding:0 20px
}
.notice_txt{
  display:flex;
  flex-flow:row wrap;
}
.notice_txt>li{
  width:50%;
  border:1px solid rgba(0,0,0,0.2);
  padding:20px;
  transition:0.3s;
  cursor: pointer;
}
.notice_txt>li:hover{
  background-color:#d70f26;
}
.notice_txt>li:nth-child(2n+1){
  border-right:none;
}
.notice_txt>li:nth-child(1),
.notice_txt>li:nth-child(2){
  border-bottom:none;
}
.notice_txt>li>h4{
  font-weight:normal;
  padding-bottom:30px;
}

.footer{
  background-color:#333333;
  padding:0 10px;
}
.footer,
.footer div,
.footer p, 
.footer a,
.footer span,
.footer h5,
.footer li{
  color:#ffffff;
  font-size:small;
}
.footer a:hover{
  text-decoration:underline;
}
.footer_top{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
  height:80px;
  border-bottom:1px solid rgba(0,0,0,0.2);
}
.footer_top_left,
.footer_top_right{
  display:flex;
  flex-flow:row nowrap;
  justify-content:flex-start;
}
.footer_top_left p{
  text-indent:-99999px;
  width:44px;
  height:44px;
  margin-right:12px;
  background-image:url('../images/iconset02.webp');
  cursor: pointer;
}
.footer_top_left p:nth-child(2){
  background-position-x:-45px;
}
.footer_top_left p:nth-child(3){
  background-position-x:-89px;
}
.footer_top_left p:nth-child(4){
  background-position-x:-176px;
}
.footer_top_left p:nth-child(5){
  background-position-x:-220px;
}.footer_top_left p:nth-child(6){
  background-position-x:-264px;
}
.footer_top_right div{
  height:44px;
  line-height:44px;
}
.footer_top_right div:nth-child(1){
  margin-right:16px;
}
.footer_top_right div:nth-child(2){
  margin-right:30px;
}
.footer_top_right div:nth-child(3){
  position: relative;
  width:200px;
  text-align:center;
  border:1px solid #ffffff;
  cursor: pointer;
}

.footer_top_right div:nth-child(3)::after{
  content:'^';
  display:block;
  font-size:xx-large;
  position: absolute;
  right:10px;
  top:10px;
}
.footer_top_right div:nth-child(3) span{
  font-size:large;
}
.footer_top_right div img{
  vertical-align:middle;
}
#footer_tgl_btn>ul{
  position: absolute;
  left:-1px;
  top:0;
  z-index:10;
  transform:translateY(-100%);
  width:200px;
  height:0;
  border:none;
  background-color:#333333;
  overflow-x:hidden;
  overflow-y:scroll;
  transition:0.3s;
}
#footer_tgl_btn>ul.active{
  height:200px;
  border:1px solid #ffffff;
}
#footer_tgl_btn>ul>li{
  text-align:center;
}
.footer_middle,.footer_bottom{
  display:flex;
  flex-flow:row nowrap;
  padding:30px 0;
}
.footer_middle h5{
  font-size:medium;
  padding-bottom:6px;
}
.footer_middle li{
  padding:3px 0;
}
.footer_middle_left{
  flex:35;
  display:flex;
  flex-flow:row wrap;
}
.service{
  flex:2;
}
.info{
  flex:3;
}
.footer_middle_right{
  flex:65;
}
.award{
  display:flex;
  flex-flow:row wrap;
}
.award>h5{
  width:100%;
}
.award>li{
  width:50%;
  display:flex;
  flex-flow:row nowrap;
  padding:8px 0;
}
.award>li>p:nth-child(1){
  margin-right:6px;
}
.award>li>p:nth-child(2){
  display:flex;
  align-items:center;
}
.footer_bottom_left{
  padding-right:50px;
  order:1;
}
.footer_bottom_right{
  order:2;
  display:flex;
}
.footer_bottom_right>p{
  padding:0 10px;
}







@media (max-width:1200px){
  .large_nav>.content>ul:first-child>li{
    padding:17px 23px;
  }
  .large_nav>.content>ul:last-child>li{
    padding-left:24px;
  }
}









@media (max-width:1100px){
  .large_nav a{
    font-size:medium;
  }
  .large_nav>.content>ul:first-child>li{
    padding:17px 20px;
  }
  .large_nav>.content>ul:last-child>li{
    padding-left:20px;
  }
  .car_list>li:last-child>p{
    width:23%;
  }
}









/* 테블릿 959이하 */
@media (max-width:959px){
  h2{
    font-size:x-large;
  }
  h3{
    font-size:large;
  }
  h2>span{
    font-size:x-large;
  }
  .logo {
    left: 3%;
  }
  .header .article.large_nav>.content,.header .article.large_nav>.content>ul {
    justify-content:flex-end;
  }
  .large_nav>.content>ul:first-child>li{
    padding: 17px 10px;
  }
  .large_nav>.content>ul:last-child>li{
    padding: 17px 6px;
  }
  .large_nav>.content>ul:last-child a {
    font-size:small;
  }
  .car_list>li:first-child{
    display:none;
  }
  .car_list>li:last-child>p{
    width:30%;
  }
  .sub_nav>li{
    width:33.3333%;
  }
  .quick_nav>li{
    width:140px;
    height:140px;
  }
  .quick_nav>li>p{
    font-size:medium;
  }
  .footer_middle_left{
    flex:2;
  }
  .service{
    padding-bottom:20px;
  }
  .service,.info{
    flex:initial;
  }
  .footer_middle_right{
    flex:8;
  }
  .footer_bottom_left{
    padding-right:20px;
  }
  .footer_bottom_right>p{
    padding:0 5px;
  }
}










/* 모바일 769이하 */
@media (max-width:769px){
  h2{
    font-size:large;
  }
  h2>span{
    font-size:large;
  }
  .header::before{
    display:block;
  }
  .logo{
    position:static;
    width:100%;
    background-color:#000000;
    left:0;
    padding:10px;
  }
  .logo #tgl_nav_btn{
    display:flex;
  }
  .logo img{
    width:50px;
  }
  .small_nav{
    order:2;
    background-color:#333333;
  }
  .large_nav{
    order:1;
  }
  .header .article.large_nav>.content>ul>li{
    border-bottom:1px solid rgba(255,255,255,0.2);
    padding-left:10px;
    padding-right:10px;
  }
  .header .article.large_nav>.content,
  .header .article.large_nav>.content>ul,
  .header .article.large_nav>.content>ul>li{
    flex-flow:column nowrap;
    justify-content: flex-start;
    height:auto;
    width:100%;
  }
  .large_nav>.content>ul:first-child>li>a::after{
    content:'+';
    display:inline-block;
    color:#ffffff;
  }
  .large_nav>.content>ul:first-child>li>a{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
  }
  .header .article.small_nav>.content{
    justify-content:flex-start;
    height:auto;
    width:100%;
    margin:0;
  }
  .header .article.small_nav>.content>ul{
    flex:1;
    flex-flow:column nowrap;
    justify-content:flex-start;
    align-items:flex-start;    
  }

  .header .article.small_nav>.content>ul>li{
    padding:6px 10px;
  }
  .header .article.small_nav>.content>ul>li:last-child{
    display:none;
  }
  .header .article.small_nav>.content>ul>li>a{
    font-size:12px;
  }
  .nav{
    height:0;
    overflow:hidden;
  }
  .nav.active{
    height:auto;
  }
  .car_list,.sub_nav{
    position:static;
    transform:translateX(0);
  }
  .large_nav .content{
    height:auto;
  }
  
  .sub_nav{
    flex-flow:column nowrap;
    align-items:flex-start;
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
  }
  .sub_nav>li{
    width:100%;
    border-bottom:1px solid #f0f0f0;
    padding:20px 0;
  }
  .sub_nav>li>a {
    font-size:small;
  }

  .swiper-button-prev,
  .swiper-button-next{
    display:none;
  }
  .event_kia:hover .swiper-button-prev,
  .event_kia:hover .swiper-button-next,
  .channel_kia:hover .swiper-button-prev,
  .channel_kia:hover .swiper-button-next{
    display:block;
  }
  
  .main_slider_txt>h2{
    font-size:large;
  }
  .main_slider_txt>a{
    font-size:small;
  }
  .main_slider_img>img{
    width:150%;
  }
  .quick_nav_box{
    width:90%;
  }
  .quick_nav_box>.quick_nav{
    flex-flow:row wrap;
  }
  .quick_nav_box>.quick_nav>li{
    width:50%;
    height:50px;
    flex-flow:row nowrap;
  }
  .quick_nav_box>.quick_nav>li.quick_list01{
    width:100%;
  }
  .quick_nav>li::before{
    width:25px;
    height:25px;
    background-size:125px 50px;
  }
  .quick_nav>li:hover::before{
    background-position-y:-25px;
  }  
  .wrap>.event_channel{
    flex-flow:row wrap;
    justify-content:center;
    padding-left:3%;
  }
  .event_channel>.event_kia{
    width:100%;
  }
  .event_channel>.channel_kia{
    width:100%;
  }
  .you_tube>.you_tube_link{
    width:100%;
    height:56.27198124267292vw;
  }
  .you_tube>.you_tube_txt{
    width:100%;
    height:auto;
    padding: 58% 5% 5% 5%;
    background-color:#eeeeee;
  }
  .you_tube>.you_tube_txt>h3,
  .you_tube>.you_tube_txt>p{
    text-align:center;
  }
  .kia_news h4>a,.kia_news h4{
    font-size:medium;
  }
  .news_notice>.kia_news,
  .news_notice>.notice{
    width:100%;
  }
  .news_notice>.notice{
    margin-top:100px;
  }
  .notice_txt>li{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    width:100%;
    border:1px solid rgba(0,0,0,0.2) !important;
    border-bottom:none !important;
    padding-bottom:16px;
  }
  .notice_txt>li:last-child{
    border-bottom:1px solid rgba(0,0,0,0.2) !important;
  }
  .notice_txt>li>h4 {
    padding-bottom:0;
  }
  .footer_top_right{
    display:none;
  }
  .footer_middle{
    display:none;
  }
  .footer_bottom{
    flex-flow:column;
  }
  .footer_bottom::after{
    content:'한국';
    display:inline-block;
    color:#ffffff;
    padding-left:40px;
    background:url('../images/korea.jpg') no-repeat;
    background-size:contain;
    order:2;
    margin-bottom:30px;
    cursor: pointer;
    font-weight:bold;
  }
  .footer_bottom_left{
    order:3;
  }
  .footer_bottom_right{
    order:1;
    flex-flow:row wrap;
    margin-bottom:20px;
  }
  .footer_bottom_right>p{
    width:50%;
    padding:10px 0;
  }
}










/* 639이하 */
@media (max-width:639px){
  .car_list>li:last-child>p{
    width:45%;
  }
  .main_slider_txt>h2{
    font-size:medium;
  }
  .main_slider_txt>a{
    font-size:x-small;
  }
  .quick_nav>li>p {
    font-size: x-small;
  }
}








/* 479이하 */
@media (max-width:479px){
  .main_slider_txt>h2{
    font-size:small;
    margin:14px 0;
  }
}











/* 360이하 */
@media (max-width:359px){
  .car_list>li:last-child>p{
    width:100%;
  }
}
